%table.table.table-condensed.table-striped.table-bordered.table-hover#myTable
  %thead
    %tr
      %th Giocatore
      %th.text-center Giocate
      %th.text-center Vinte
      %th.text-center Perse
      %th.text-center Pareggiate
  %tbody
    -Player.order("name ASC").each do |player|
      -results=player.results
      %tr
        %td=link_to player.name, player
        %td.text-center=results[0]
        %td.text-center=results[1]
        %td.text-center=results[2]
        %td.text-center=results[3]
  
