-cache(cache_key_for_results("player-show-#{@player.id}")) do
  -results=@player.results
  %table.table.table-condensed.table-striped.table-bordered
    %tbody
      %tr
        %th Giocatore
        %td=@player.name
      %tr
        %th Punti
        %td="#{score(results)}"
      -if results[0]!=0
        %tr
          %th Score
          %td="#{(classic_score(results)*100/(results[0]*3)).round(2)}%"
      %tr
        %th Giocate
        %td=results[0]
      %tr
        %th Vinte
        %td=results[1]
      %tr
        %th Perse
        %td=results[2]
      %tr
        %th Pareggiate
        %td=results[3]
  %table.table.table-condensed.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.text-center Data
        %th.text-center Team
        %th.text-center Bianchi
        %th.text-center Neri
        %th.text-center Giocatori
    %tbody
      -@player.presences.joins(:match).order("matches.played_on DESC").each do |p|
        %tr.clickable-row{data: {href: match_path(p.match)},class: presence_color(p)}
          %td.text-center=I18n.l(p.match.played_on, format: "%d/%m/%Y")
          %td.text-center=p.team == "black" ? "Neri" : "Bianchi"
          %td.text-center=p.match.white_goals
          %td.text-center=p.match.black_goals
          %td.text-center=p.match.presences.count
