%table
  -Player.order("name ASC").each do |player|
    %tr
      %td=player.name
      -["black","white"].each do |team|
        %td
          -presence= Presence.where(player: player).where(match: match).first
          -if presence
            -if presence.team == team
              =link_to "Elimina", presence_path(presence), data: {method: :delete}
          -else
            =simple_form_for Presence.new do |f|
              =f.input :team, as: :hidden, input_html: {value: team}
              =f.input :match_id, as: :hidden, input_html: {value: match.id}
              =f.input :player_id, as: :hidden, input_html: {value: player.id}
              =f.submit team
    
