-cache(cache_key_for_results("match-show-#{@match.id}")) do
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th.text-center{colspan:2}
          Giocata il:
          =I18n.l(@match.played_on, format: "%d/%m/%Y")
      %tr
        %th.text-center Goal bianchi:
        %th.text-center Goal neri:
      %tr
        %th.text-center=@match.white_goals
        %th.text-center=@match.black_goals
    %tbody
      %tr
        %td.text-center{style: "padding:15px"}
          %table.table.table-bordered.table-condensed.table-striped.table-hover{style: "margin-bottom:0px"}
            -@match.presences.includes(:player).where(team: "white").order("id ASC").each do |p|
              %tr.clickable-row{data: {href: player_path(p.player)}}
                %td
                  =p.player.name
                %td
                  ="#{score(p.player.results)}%"
        %td.text-center{style: "padding:15px"}
          %table.table.table-bordered.table-condensed.table-striped.table-hover{style: "margin-bottom:0px"}
            -@match.presences.includes(:player).where(team: "black").order("id ASC").each do |p|
              %tr.clickable-row{data: {href: player_path(p.player)}}
                %td
                  =p.player.name
                %td
                  ="#{score(p.player.results)}%"
